    <div class="container-fluid py-3" id="wrapper">
        <button class="btn btn-primary float-right" id="scrape-articles">Scrape Articles</button>
        <h1>Salt Lake Tribune Scraper</h1>
        <div id="articles"></div>
        <div id="notes"></div>
    </div>